@use "../../base/mixins" as *;
.hero__section {
  padding-top: 96px;
  @include tablet {
  }
}

.hero__title {
  margin: 0 auto -12px;
  color: var(--color-secondary-navy);
  text-align: center;
  font-family: var(--font-heading);
  font-size: 40px;
  font-weight: 700;
  line-height: 96%; /* 38.4px */
  @include tablet {
    max-width: 768px;
    margin-bottom: 16px;
  }
}
.hero__text {
  margin: 0 auto 24px;
  color: var(--color-secondary-navy);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  @include tablet {
    max-width: 768px;
    margin-bottom: 40px;
  }
}
.hero__video {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 40px;
  }
}
.hero-video-poster {
  width: 100%;
  height: 198px;
  aspect-ratio: 57/32;
  @include tablet {
    height: auto;
  }
}
.hero__play-button {
}
.hero__cta {
  margin: 0 auto;
  width: fit-content;
  padding: 14px 16px 14px 24px;
  border-radius: 222px;
  background: linear-gradient(
    108deg,
    #c9a96e 20.85%,
    #f1e0c2 34.41%,
    #c9a96e 50.75%,
    #927135 72.71%,
    #927135 81.43%,
    #c9a96e 98.9%
  );
  box-shadow:
    0 -1px 1px 0 rgba(95, 73, 33, 0.5) inset,
    0 1px 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: var(--alt-Primary-navy, #0a1628);
  font-size: 16px;
  font-weight: 600;
}

.hero__metaList {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 18px;
  flex-wrap: wrap;
}
.hero__metaList-item {
  position: relative;
  color: var(--color-secondary-navy);
  text-align: center;
  font-weight: 500;
  line-height: 150%; /* 21px */
  opacity: 0.7;
}
.hero__metaList-item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 50%;
  display: inline-block;
  width: 2px;
  height: 2px;
  background: currentColor;
  transform: translate(-50%, -50%);
}

.dot-separator {
}
.hero__quote {
}
.hero__stars {
}
.hero__quote-text {
}
.hero__quote-author {
}
.hero__quote-button {
}
.hero__avatars {
}
.hero__avatar {
}
.hero__avatar--main {
}
.hero__avatars-clients {
}
