@use "../../base/mixins" as *;
.home-problem__section {
  > .container {
    max-width: 768px;
  }
}
.home-problem__title {
  margin-bottom: 4px;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 28px;
  font-weight: 600;
  line-height: 116%;
  text-transform: uppercase;
  @include tablet {
    font-size: 36px;
  }
  @include laptop {
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 104%;
  }
}
.home-problem__text {
  margin-bottom: 12px;

  color: var(--color-secondary-navy);
  text-align: center;
  font-weight: 500;
  @include laptop {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    max-width: 660px;

    font-size: 18px;
  }
}
.home-problem__decor {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 24px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 120px;
    height: 2px;
    background-image: linear-gradient(
      90deg,
      rgba(201, 169, 110, 0),
      rgba(201, 169, 110, 1),
      rgba(201, 169, 110, 0)
    );
  }
  margin-bottom: 24px;
}
.home-problem__subtitle {
  margin-bottom: 16px;

  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 600;
  line-height: 104%;

  @include tablet {
    font-size: 28px;
  }
  @include laptop {
    font-size: 32px;
  }
}
.home-problem__subtext {
  margin-bottom: 40px;
  font-size: 16px;
  color: var(--color-secondary-navy);
}
.home-problem__cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @include laptop {
    gap: 24px;
  }
}
.home-problem__card {
  padding: 24px 16px;

  border-left: 4px solid var(--color-secondary-navy);
  background: var(--color-off-white);

  @include laptop {
    padding: 24px 40px;
  }
}
.home-problem__card-number {
  color: var(--color-primary-gold);
  font-family: var(--font-heading);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;

  opacity: 0.24;
  @include laptop {
    font-size: 44px;
  }
}
.home-problem__card-title {
  margin-bottom: 16px;

  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: 700;
  line-height: 124%;
  @include laptop {
    font-size: 24px;
  }
}
.home-problem__card-text {
  margin-bottom: 40px;
  font-size: 16px;
  color: var(--color-secondary-navy);
  @include laptop {
    margin-bottom: 16px;
  }
}
.home-problem__card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.home-problem__card-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home-problem__card-list-title {
  color: var(--color-secondary-navy);
  font-size: 16px;
  font-weight: 600;
}
.home-problem__card-list-text {
  color: var(--color-secondary-navy);
  font-size: 16px;
  > span {
    font-weight: 700;
    font-style: italic;
  }
}
