*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth !important;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 62.5%;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
